body{
    background-color: #121212;
}
.cardsPlayList{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    margin-bottom: 15px;
    background-color: #292929;
    border-color: black;
}
