header{
    display: flex;
    height: 70px;
    align-items: center;
    padding: 3em;

}

.log{
    display: flex;
    align-items: center;
}

.log img{
    height: 50px;
    margin-right   : 10px;
}

body {
    background-color: black;
}
.cardsPlayList{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    margin-bottom: 15px;
    background-color: #292929;
    border-color: white;
}

#title{
    text-align: right;
    padding: 3em;
}








